﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script>
        var Data;
        $.ajax({
            type: 'GET',
            url: "/api/Customers/2",           
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (data) {             
                console.log(data);
            }
        });
    </script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        
    </div>
</body>
</html>
